*{margin: 0;padding: 0}
ul{list-style: none;}
a{
  text-decoration: none;
}
/* mian_footer */
.mian_footer{
  width: 100%;
  background: #3f3a32;
  padding-bottom: 60px;
  margin-top: 40px;
  position: relative;
}
/* footer_con1 */
.footer_con1{
  width: 990px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}
p.text{
  color: #fff;
  line-height: 24px;
  font-size: 12px;
  padding: 20px 0;
  width: 600px;
  float: left;
  padding-top: 80px;
  background: url(../img/footer_log.png) 0px 15px no-repeat;
}
p.text>strong{
  font-size: 16px;
  padding: 0 4px;
  color: #ff3232;
  font-family: arial;
}
.footer_homelink{
  display: block;
  height: 80px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
/* links */
.links{
  position: absolute;
  right: 0;
  top: 30px;
}
.links ul li{
  position: relative;
  display: inline-block;
  vertical-align: top;
  background: url(../img/footerlinks.png) no-repeat;
  width: 105px;
  margin-left: 20px;
  height: 160px;
}
.links ul li.links_tengxun{
  background-position-x: -105px;
}
.links ul li.links_weixin{
  background-position-x: -315px;
}
.links ul li.links_QQ{
  background-position-x: -214px;
}
.links ul li .img{
  display: block;
  height: 105px;
  width: 105px;
}
.links ul li .img span {
  height: 26px;
  line-height: 26px;
  display: block;
  width: 105px;
  color: #fff;
  text-align: center;
  padding-top: 79px;
}
.links ul li p{
  position: absolute;
  font-size: 12px;
  z-index: 50;
  bottom: 0px;
  left: 0px;
  width: 105px;
  color: #999;
  line-height: 18px;
  height: 36px;
  padding: 9px 0px;
  text-align: center;
}
.links ul li p a{
  color: #999;
}
.links ul li p a:hover{
  color: #fff;
  text-decoration: underline;
}
/* footer_con2 */
.footer_con2{
  width: 990px;
  height: 119px;
  margin: 0 auto;
  font-size: 12px;
}
.footer_item{
  padding: 10px 0;
}
.footer_item>a{
  font-size: 14px;
  color: #fff;
  display: block;
  height: 40px;
  border-bottom: 1px solid #444;
  line-height: 40px;
  float: left;
  display: block;
  width: 990px;
  margin-bottom: 8px;
}
.friend_link li{
    float: left;
    height: 25px;
    line-height: 25px;
    color: #fff;
    width: 99px;
}
.friend_link li>a{
  color: #999;
}
.friend_link li>a:hover{
  color: #ff3232;
  text-decoration: underline;
}
/* footer_con3 */
.footer_con3{
  clear: left;
  width: 990px;
  margin: 0px auto;
  border-top: 1px solid #444;
  text-align: center;
  padding: 10px 0px 30px 0px;
}
.footer_con3>ul>li{
  display: inline-block;
  vertical-align: top;
}
.footer_con3>ul>li>a{
  display: inline-block;
  color: #999;
  padding: 0px 10px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
}
.footer_con3>ul>li>a:hover{
  color: #fff;
  background: #ff3232;
}
.footer_con3 p {
  height: 24px;
  line-height: 24px;
  color: #666;
  font-size: 12px;
}
.gray_a{
  color: #666666;
  font-size: 12px;
}
